# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs/
*.log
pids/
*.pid
*.seed
*.pid.lock

# Dependency directories
frontend/node_modules/
backend/backend-app/node_modules/

# Build directories
frontend/build/
backend/backend-app/dist/

# Environment variables
frontend/.env
backend/backend-app/.env

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
