@import '../../../styles/settings.scss';

.cartPage {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    background-color: $background-color-main;
    width: 95vw;
    min-height: 100vh;
    max-width: 1150px;
    height: auto;
    padding-top: 180px;
    .cartProducts {
        display: flex;
        flex-direction: column;
        .product {
            display: flex;
            flex-direction: row;
            border-bottom: 1px dashed black;
            margin-right: 5px;
            .productInCartDetails {
                display: flex;
                flex-direction: column;
                margin: 5px;
                padding: 10px;
            }
            .deleteContainer{
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0;
                .trashIcon{
                    font-size: $base-size * 2;
                    padding: $base-size * 0.25;
                    transition: 0.75s ease-in-out;
                    cursor: pointer;
                }
                &:hover{
                    color: $color-primary;
                    transition: 0.75s ease-in-out;
                }
            }
        }
    }
}
@media (max-width: 1050px) {
    .cartPage {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: flex-end;
    }
}
@media (max-width: 850px) {
    .cartPage {
        .cartProducts{
            .product{
                flex-direction: column;
            }
        }
    }
}
@media (max-width: $breakpoint-mobile) {
    .cartPage {
        padding-top: 120px;
    }
}
